body {
    margin: 0;
}

.main-page {
    background-color: #F8F9FB;
    color: #010F32;
}

.main-page__title {
    margin: 0;
    font-weight: 400;
    font-size: 38px;
    line-height: 36px;
}

.main-page__benefits-list {
    list-style: none;
    display: flex;
}

.benefit__text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.benefit {
    width: 201px;
}