body {
    margin: 0;
}

.benefits-block {
    
    background-color: #F8F9FB;
    color: #010F32;
}

.benefits-block__container {
    max-width: 1065px;
    margin: 0 auto;
}

.benefits-block__title {
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 38px;
    line-height: 36px;
}

.benefits-block__benefits-list {
    list-style: none;
    display: flex;
}

.benefit__text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.benefit {
    width: 201px;
}